<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>** Vue Template - Directives **</title>
    <style>
        #title {
            background-color: blue;
        }
    </style>
</head>
<body>
<!-- <div id="app" v-once> -->
<div id="app">
    <a v-if="flag">v-if Test</a>
    <ul>
        <li v-for="system in systems">{{system}}</li>
    </ul>
    <h3 v-bind:id="uid">Directive</h3>
    <button v-on:click = "popupAlert"> 경고 _ Alert</button>
</div><hr>
<pre>
    {{ message }}
    => 인스턴스 유효 범위를 벗어남  
    => Vue 변수는 mustache(머스테스, 콧수염) 표기로 표현 {{ .. }}  
    => mustache(콧수염) 표기내에서는 JS 문법사용가능 (단, 2가지 주의사항)
        - JS 선언문과 분기문은 사용 금지 : 오류로 실행중지됨 
        - 복잡한 연산은 인스턴스내에서 처리하고 화면에는 간단한 결과만 표시
</pre>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>   
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

new Vue({
    el:'#app',
    data : {
        flag:true,
        systems:['안드로이드','IOS','window'],
        uid : 'title',
    },
    methods: {
        popupAlert : function(){
            alert("경고");
        }
    },
});   

</script>
</body>
</html>